/* estilos de texto */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family:'DM Sans', 'Arial', 'Sans-Serif';
}

/* titulo */
#logo{
  color: #02475E;
  font-size: 3rem;
  font-weight: 750;
  text-align: center;

  align-items: center;
  margin: 2rem 0% 2rem 2rem;
 height: 20px;
}
/* carrusel */

.carousel {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 600px;
  transition:all 1s ease-in-out;
}

.slide-image {
  width: 980px;
  height: 400px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.carousel h3{
  margin: auto;
  font-size: 50px;
  font-style:initial;
  margin-top: 300px;
}
nav{
    width:100%; 
    height:80px; 
    float:left;
    margin-bottom:60px;
    background-color: #687980ea;
    color: #fff;
     
  }

  
#listamenu{
	float: right;
	list-style: none;
  margin-right: 30px;
}

#listamenu li{
	float: left;
	padding: 30px 20px 0 20px;
  height: 55px;
  margin-top: -20px;
}

.fondomenu{
	background-color: #FEFECC;
	color: #02475E;
  cursor: pointer;
  transition:all 1s ease-in;
}


#slide1 {
  background-image: url('../img/pub1.jpg');
  width: 100%;
  height: 900px;
  color: #fff;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#slide2 {
  background-image: url('../img/pub2.jpg');
  width: 100%;
  height: 900px;
color: #fff;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#slide3 {
  background-image: url('../img/pub3.jpg');
  width: 100%;
  height: 900px;
  color: #fff;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#slide4 {
  background-image: url('../img/pub4.jpg');
  width: 100%;
  height: 900px;
color: #fff;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#slide5 {
  background-image: url('../img/pub5.jpg');
  width: 100%;
  height: 900px;
  color: #fff;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}


#slide6 {
  background-image: url('../img/pub6.jpg');
  width: 100%;
  height: 900px;
	text-align: center;
  color: #fff;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#slide1::before,#slide2::before, #slide3::before, #slide4::before, #slide5::before, #slide6::before {
  content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.514);
  color: #fff;
}


/* los items */

.itmes{
  width: 95%;
  text-align: center;
  align-items: center;
  height: 500px; 
}


.footer{
  margin-top: 100px; background-color: #2c2f30; height: 100px;padding: 5px 10px;
  text-align: center;
  align-items: center;
  display: grid;
}



/* clases para agregar con jquery  */

.activo{
  opacity: .3; 
 }
 
 .cambio{
  transform: rotate(45deg);
  transition:all 1s ease-in-out;
 }

 button{
   background-color: transparent;
   border: none;
   color: #fff;
 }